<h1><%= @court.name %></h1>
<h3>Address: <%= @court.location %></h3>
<%= button_to "Add to Favorites", court_path(@court), :method => :patch  %>

<h3>Upcoming Games</h3>
<div class="games_list">
    <% @court.upcoming_games.each do |game|%>
        <%= link_to "#{game.time} (#{game.player_count})", court_game_path(@court, game) %> <br>
    <% end %>
</div>

<% if current_player %>
    <h3>Create New Game</h3>
    <%= form_tag(court_games_path(@court)) do%>
        <%= hidden_field_tag "game[court_id]", @court.id %>
        Skill Level: <%= select_tag "game[skill_level]", options_for_select(Game.skill_level_array, Game.skill_level_array.first) %> <br>
        Time: <%= datetime_field_tag "game[time]", current_time_for_form_tag %> <br>

        <%= submit_tag "Create Game" %>
    <% end%>
<% end %>

<%# form_for :game, url: court_games_path(@court) do |f| %>
    <%# f.hidden_field :court_id, value: @court.id %>
    <%# f.text_field :skill_level %>
    <%# fields_for :time do |time_fields| %>
         <%# time_fields.datetime_select :time%>
    <%# end%>

    <%# f.submit "Create Game" %>
<%# end %>