<h1><%= @game.court.name %></h1>
<h3>Skill Level: <%= @game.skill_level %></h3>
<h3><%= display_time(@game.time) %></h3>

<h3>Players</h3>
<% @game.players.each do |player|%>
    <%= link_to player.name, player_path(player) %>
<% end %>

<% if current_player%>
    <%= form_tag(court_game_path, method: :patch) do%>
        <%= submit_tag (@game.is_in_game?(current_player) ? "Leave Game" : "Join Game") %>
    <% end%>
<% end %>