<h1><%= link_to @game.court_name, court_path(@game.court) %></h1>
<h3>Skill Level: <%= @game.skill_level %></h3>
<h3><%= display_date_and_time(@game.time) %></h3>

<h3>Players</h3>
<% @game.players.each do |player|%>
    <div style="float: left; width: auto;"> 
        <%= link_to player.name, player_path(player) %>
        <%= " - ADMIN " if player.is_admin_of?(@game) %>
    </div>
        <%= render "player_admin_buttons", game_or_squad: @game, player: player, path: court_game_path(@game.court, @game) %>
<% end %>

<% if current_player%>
    <br>
    <%= player_admin_button(path: court_game_path(@game.court, @game), text: @game.is_in_game?(current_player) ? "Leave Game" : "Join Game", params_hash: {player_id: current_player.id}) %>
    <br>
    <%= form_tag(court_game_path(@game.court, @game), :method => "PATCH") do%>
        Squad: <%= select_tag "squad_id", options_from_collection_for_select(current_player.admin_squads, :id, :name) %> <br>
        <%= submit_tag "Add Squad to Game" %>
    <% end%>

<% end %>