<h1><%= display_date_and_time(@game.time) %></h1>
<div class="game">
    <h2><%= link_to @game.court_name, court_path(@game.court) %></h2>
    <h2>Skill Level: <%= @game.skill_level %></h2>

    <div class="content-box">
        <h2>Players</h2>
        <% @game.players.each do |player|%>
            <div>
                <%= link_to player.name, player_path(player) %>
                <%= " - ADMIN " if player.is_admin_of?(@game) %>
                <%= render "player_admin_buttons", game_or_squad: @game, player: player, path: court_game_path(@game.court, @game) %>
            </div>
        <% end %>
    </div>
    
    <%=  player_admin_button(path: court_game_path(@game.court, @game), text: "JOIN", params_hash: {player_id: current_player.id}) if !@game.is_in_game?(current_player) %>
    <div>or</div>
    <%= form_tag(court_game_path(@game.court, @game), :method => "PATCH", :class => "add-squad") do%>
        <%= submit_tag "ADD YOUR SQUAD" %> 
        <%= select_tag "squad_id", options_from_collection_for_select(current_player.admin_squads, :id, :name) %>
    <% end%>

</div>