<h1><%= @game.court.name %></h1>
<h3>Skill Level: <%= @game.skill_level %></h3>
<h3><%= display_date_and_time(@game.time) %></h3>

<h3>Players</h3>
<% @game.players.each do |player|%>
    <div style="float: left; width: auto;"> 
        <%= link_to player.name, player_path(player) %>
        <%= " - ADMIN " if player.is_admin_of?(@game) %>
    </div>
        <% if current_player.is_admin_of?(@game) && !player.is_admin_of?(@game) %>
            <div style="float: left; width: auto;"> 
                <%=  player_admin_button(path: court_game_path(@game.court, @game), text: "Remove Player", params_hash: {player_id: player.id}) %>
            </div>
            <%=  player_admin_button(path: court_game_path(@game.court, @game), text: "Add Admin", params_hash: {admin_id: player.id}) %>
        <% else %>
            <br>
        <% end %>
<% end %>

<% if current_player%>
    <br>
    <%= player_admin_button(path: court_game_path(@game.court, @game), text: @game.is_in_game?(current_player) ? "Leave Game" : "Join Game", params_hash: {player_id: current_player.id}) %>
<% end %>