<div class="sign-up">
  <%= form_for @player, url: '/players' do |f| %>
  <fieldset>
      <ul>
        <li><%= f.text_field :email, placeholder: "Email" %> </li>
        <li><%= f.text_field :name, placeholder: "Your Player Name" %> </li>
        <li><%= f.password_field :password, placeholder: "Password" %> </li>
        <li><%= f.password_field :password_confirmation, placeholder: "Confirm Password" %> </li>
      </ul>
    </fieldset>
    <%= f.submit "Submit" %> <br>
  <% end %>
  <%= link_to('Sign up with Facebook!', '/auth/facebook') %>
</div>