<div class="sign-up">
  <%= link_to('Sign up with Facebook', '/auth/facebook') %> <br>
  <div> or</div>
  <p> <strong> Sign Up with your Email Address </strong></p>
        
  <%= form_for @player, url: '/players' do |f| %>

        <%= f.text_field :email, placeholder: "Email" %> 
        <%= f.text_field :name, placeholder: "Your Player Name" %> 
        <%= f.password_field :password, placeholder: "Password" %> 
       <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %> 
    
        <%= f.submit "Sign Up" %> 
   
  <% end %>
       
  
</div>