<h1><%= @player.name %></h1>

<h3>Upcoming Games</h3>
    <% @player.upcoming_games.each do |game|%>
            <div style="float: left; width: auto;">
                <strong><%= "Admin: " if @player.is_admin_of?(game) %></strong>
                <%= link_to "#{game.court.name} on #{display_date_and_time(game.time)}", court_game_path(game.court, game) %> 
            </div> 
            <%= player_admin_button(path: court_game_path(game.court, game), text: "Leave Game", params_hash: {player_id: current_player.id}) if @player == current_player %>
            <br>  
    <% end %>

<h3>Squads</h3>
    <% @player.squads.each do |squad|%>
        <p>
            <%= link_to squad.name, squad_path(squad) %>
            (<%= squad.player_count %> players)
        </p>
    <% end %>

<h3>Favorite Courts</h3>
<% @player.favorite_courts.each do |court|%>
    <p>
        <%= link_to court.name, court_path(court) %>
        (<%= court.upcoming_games.count %> upcoming games)
    </p>
<% end%>