    <h1><%= @player == current_player ? "My Profile" :  "#{@player.name}'s Profile"%></h1>
<div class="profile">
    <div class="profile-box">
        <h3> Upcoming Games</h3>
        <% @player.upcoming_games.each do |game|%>
            <div>
                <%= link_to display_date_and_time(game.time), court_game_path(game.court, game) %> 
                <strong><%= " Admin" if @player.is_admin_of?(game) %></strong> 
                 <%= player_admin_button(path: court_game_path(game.court, game), text: "Leave Game", params_hash: {player_id: current_player.id}) if @player == current_player %> <br>
                <%= link_to game.court_name, court_path(game.court) %> 
            </div>
        <% end %>
    </div> 

    <div class="profile-box">
        <h3>Squads</h3>
        <% @player.squads.each do |squad|%>
            <div>
                <%= link_to "#{squad.name} (#{squad.player_count} players)", squad_path(squad) %>
                <strong><%= " Admin" if @player.is_admin_of?(squad) %></strong>
            </div>
        <% end %>
    </div>

    <div class="profile-box">
        <h3>Favorite Courts</h3>
        <% @player.favorite_courts.each do |court|%>
            <div>
                <%= link_to "#{court.name} (#{court.upcoming_games.count} games)", court_path(court) %>
            </div>
        <% end%>
    </div>
</div>