<h1><%= @squad.name %></h1>

   
    <div class="content-box">
        <h2>Players</h2>

            <% @squad.players.each do |player|%>
                    <div>
                        <%= link_to player.name, player_path(player) %>
                        <%= " - ADMIN " if player.is_admin_of?(@squad) %>
                        <%= render "games/player_admin_buttons", game_or_squad: @squad, player: player, path: squad_path(@squad) %> <br>
                    </div>
            <% end %>
    </div>
    <%=  player_admin_button(path: squad_path(@squad), text: "JOIN", params_hash: {player_id: current_player.id}) if !@squad.is_in_squad?(current_player) %>