<h1><%= @squad.name %></h1>

<h3>Players</h3>
<% @squad.players.each do |player|%>
    <div style="float: left; width: auto;"> 
        <%= link_to player.name, player_path(player) %>
        <%= " - ADMIN " if player.is_admin_of?(@squad) %>
    </div>
        <% if current_player.is_admin_of?(@squad) && player != current_player %>
            <div style="float: left; width: auto;"> 
                <%=  player_admin_button(path: squad_path(@squad), text: "Remove Player", params_hash: {player_id: player.id}) %>
            </div>
            <%=  player_admin_button(path: squad_path(@squad), text: "Add Admin", params_hash: {admin_id: player.id}) %>
        <% else %>
            <br>
        <% end %>
<% end %>

<% if current_player%>
    <br>
    <%= player_admin_button(path: squad_path(@squad), text: @squad.is_in_squad?(current_player) ? "Leave Squad" : "Join Squad", params_hash: {player_id: current_player.id}) %>
<% end %>