<!DOCTYPE html>
<html>
  <head>
    <title>PickUpGames</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Home", root_url %>
          <%= link_to 'Courts', courts_path %>
          <%= link_to 'Squads', squads_path %>
          <% if current_player %>
            <%= link_to 'My Profile', player_path(current_player) %>
            <%= link_to 'Log Out', logout_path, :method => :post %>
          <% else%>
            <%= link_to "Sign Up", new_player_url %>
            <%= link_to "Log In", login_url %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- content -->
    <div class="container"  role="main">

        <% flash.each do |key, messages| %>
          <% messages.each do |message|%>
            <div class="alert alert-<%= key %>"><%= message %></div>
          <% end %>
        <% end %>
        
      <%= yield %>
    </div>
  </body>
</html>
